  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">¿Te gusto este sitio?</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="d-flex flex-column align-items-start gap-2">
        <h3 class="fw-bold">Accede a funciones y herramientas exclusivas para tí!</h3>
        <p class="text-muted">Te gusto esta demostración, puedes acceder a esto y mucho más.</p>
        <a href="mailto:hamt.web@gmail.com?Subject=FinDemo" class="btn btn-primary btn-lg">Contratar Premium</a>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#collection" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0">Sube exámenes y documentos</h4>
          <p class="text-muted">Uno de los beneficios principales de mejorar a premium es el manejo de archivos.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#gear-fill" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0">Accede a mas opciones.</h4>
          <p class="text-muted">Tenemos personalizaciones exclusivas para tu negocio.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#speedometer" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0">Optimizamos la velocidad</h4>
          <p class="text-muted">Al pasar a premium olvidate de la carga lenta, descubre nuevos limites.</p>
        </div>

        <div class="d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#table" />
            </svg>
          </div>
          <h4 class="fw-semibold mb-0">Calendarios Exclusivos</h4>
          <p class="text-muted">Tenemos disponibles para tí nuevas maneras para organizarte, que esperas!</p>
        </div>
      </div>
    </div>
  </div>